MDC_MAIN_COLOR = #f68414
WHITE_COLOR = #fff
MDC_ATENUE_COLOR = #BD6316
MDC_LIGHT_COLOR = rgba(222, 125, 43, 0.13)
MDC_LIGHT_ATENUE_COLOR = rgba(222, 125, 43, 0.48)
BACKGROUND_MAIN_COLOR = #EEEEEE
BORDER_GRAY_COLOR = #BDBDBD
BLACK_COLOR = #404040
GREEN_LIGHT_COLOR = #2ecc71
RED_COLOR_DARK = #c0392b
DOWN_IMG = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAB6klEQVRYCe2YPUtDMRSGo8WPwapDFcFBEBRxsNpJ0D/kIIK/QJxcBXcFxckPxEno6OAiOOnkpgW/Bh0UFKzPqQbC5UateJsUTnmfJjnJvTnnzb1gNUY/6oA6oA6oA+pAvA4sk9obXEMJmlKDZP0O1S8OaTNTa2Z3NqbAvVvAqs92smizLCSLfL331EK81gSa0BMJZLx3Wz0RrzWBJvREAhnv3VZPxGtNoAk9kUDGe7fVE/FaE2hCTwTjh6Ef/kPyA2ycG3VDQ7XGbvIT9pV2DtJUJChrLCeM09RFsAyy7ol2FhqiPLu4v8WlP08sqd8UkueiY5AiLNuM61Zr3VcY88w1FbCSx2KVwQLUox4WH8EMuLp0B1n3p9ngEayLtl0kZlWkY+PSuo9WL3MylrhLmXgnNFRT7HYPbiLSXzKfH18hBabPQNa6HBBrhyCaZNc7cBOS/gqxtEIGiJ+DrHHZJxasCPauqch3WjHrxKsOp/QvwI1Jf49Y8CLIoSYp5paeJObjJWV+l1gbRKUS2TyAr5BkXP6F2sH6KDVGVhVIJp0cb7EmB1FLHrO0d8YWE9U78ZOTEyxIK2aHeHTvBDl9q1Fmb8CexCb9HDSlRsj6CjaMMX/5c4jL4tEQqTTtSZC7Sh1QB9QBdcDvwAfAOZVY15/SIAAAAABJRU5ErkJggg=='
UP_IMG = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABqUlEQVRYCe2YPU7EMBCFh5+GU2yDEB0F1CyUnIKSE4BEgyhogAsABRdAnIALwA1o0KaBLZAQxdaYb5C8WJGSTbDJOtJY78X/9rw3UaRdESvmgDlgDpgDc3BgqYM7T7hjAsewl1gg6ivooArZpu4lzolaRXh+0N+EvUGYCS/C15qZYV+UXBCoq6FmZov5rDFLhBeYrRh9na6x2AfapJ6wfgizQZWIVyJ0AQsR+YLhWDZiqkSMCHgPuoCPtA9gdmLqRAwIeAO6gCqErlSJ2ZE5FBVxw71hoNoeMTaAiiohOpeNmGOicSW+0V+HHnVCdM0Rj/IZ+jVbZbwzfHJTGERZBNMyS4iuOeQRnqNt/YQz3A6L7ZZPVxfyW8Y0d+EzbItLNmhmqKYopMOyxl338A5WvQpNMsL2H+zzfIBncBlmhTZCogP/66sVfXHqA0xIakdjz7OMxDqYer9lJLWjsedZRmIdTL3fMpLa0djzLCOxDqbebxlJ7WjseZaRBg7q/1fhsnI/nItu/2dGXojuHXo8+UYfa/25e0vgpyKyAg3mgDlgDpgD5kCWDnwDIsifVTUZQYQAAAAASUVORK5CYII='
