@import "../../../assets/variables.styl"
@import "../../../assets/functions.styl"

.navbar
  padding 0 1rem

.nav-item
  padding 0.4rem
  &:hover
    background-color MDC_ATENUE_COLOR

.nav-link
  color WHITE_COLOR !important

.nav-no-link
  padding .4rem

.navbar-brand
  width 30px

.img-logo
  top 0px
  position absolute
  background-color WHITE_COLOR
  padding 3px
  width 36px
  height 56px
  boxShadow(0 4px 8px 0 rgba(0, 0, 0, 0.35))

.user-content
  min-width 250px
  color WHITE_COLOR

.user-header
  font-size 18px
  background-color MDC_MAIN_COLOR
  padding 10px

.user-name
  display block
